.boardTable tr:not(:first-child):hover {
    background-color: #e8dbdb; cursor: pointer;
}

.selected {color: chocolate; font-weight: bold;}
form div input {margin-right: 2px;}
.pageContainer {display: flex; padding: 10px 50px; justify-content: center;}
.pageContainer div:not(:first-child){margin-left: 8px;}
.searchheader {display: flex; flex-direction: row; align-items: center; gap: 15px; height: 25px;}